Repository GoogleContainerTools/skaffold, pull requests merged in 2018-10, with the labels that each got.

#1073 Add support for building projects using jib
  pkg/skaffold/build/local/jib.go
  pkg/skaffold/build/local/jib_gradle.go
  pkg/skaffold/build/local/jib_maven.go
  pkg/skaffold/build/local/jib_test.go
  pkg/skaffold/build/local/util.go
  pkg/skaffold/build/local/util_windows.go
  pkg/skaffold/constants/constants.go
  pkg/skaffold/util/util_test.go
Labels: jib

#1063 Merge Jib feature-branch
  pkg/skaffold/build/local/jib.go
  pkg/skaffold/build/local/jib_gradle.go
  pkg/skaffold/build/local/jib_maven.go
  pkg/skaffold/build/local/jib_test.go
  pkg/skaffold/build/local/local.go
  pkg/skaffold/constants/constants.go
  pkg/skaffold/jib/jib.go
  pkg/skaffold/jib/jib_gradle.go
  pkg/skaffold/jib/jib_gradle_test.go
  pkg/skaffold/jib/jib_maven.go
  pkg/skaffold/jib/jib_maven_test.go
  pkg/skaffold/jib/jib_test.go
  pkg/skaffold/runner/runner.go
  pkg/skaffold/schema/latest/config.go
  pkg/skaffold/util/util.go
  pkg/skaffold/util/util_test.go
  pkg/skaffold/util/wrapper.go
  pkg/skaffold/util/wrapper_unix.go
  pkg/skaffold/util/wrapper_unix_test.go
  pkg/skaffold/util/wrapper_windows.go
  pkg/skaffold/util/wrapper_windows_test.go
Labels: do-not-merge, jib, wip

#1226 Add hugo and git to webhook image
  deploy/webhook/Dockerfile
  deploy/webhook/deployment.yaml
Labels: area/webhook

#1227 Allow webhook to create a deployment
  deploy/webhook/cloudbuild.yaml
  pkg/webhook/constants/constants.go
  pkg/webhook/kubernetes/deployment.go
  webhook/webhook.go
Labels: area/webhook
